body{
    background-color: rgb(209, 225, 231);
    background-position:center;
    background-attachment: fixed;
    background-size :cover;
    overflow-y: scroll;
}


.topnav{
    color: black;
    overflow: hidden;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.topnav a{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*add color to hover link*/
.topnav a:hover{
    color: black;
}

.contact{
    text-align: center;
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;
}

.contact p a{
    color: black;
    text-decoration: none;
}

.social ul{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-right: 2%;
}

.social ul li{
    display: inline-block;
    font-size: xx-large;
    list-style: none;
}


/*Add color to the social icons*/
.social ul a {
    color: black;
    margin: 10px;
}

.fa:hover{
    opacity: 0.7;
    }

    /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
